/* global variables */
:root {
    /* font family */
    --font-primary-tt-norms: "TT Norms", "Helvetica Neue", Helvetica, Arial, sans-serif;
    --font-secondary: "Roboto", sans-serif;

    /* font sizes */
    --font-size-heading-h1-32: 32;
    --font-size-subheading-24: 24;
    --font-size-heading-h3-18: 18;
    --font-size-paragraph-14: 14;
    /* colors */
    --color-button-primary--background-red: #eb1700ff;
    --color-text-color-white: #ffffffff;
    --color-text-default-black: #191919ff;
    --color-text-subtitle-grey: #606060ff;
    --color-background-light-white: #f7f7f7ff;
    --color-background-strong-white: #f1f1f1ff;
    --color-background-grid-view-cream: rgb(254, 241, 238);
    --color-links-footer-grey: #c4c4c4;


}



@font-face {
    font-family: "TT Norms";
    src: url("/assets/fonts/TTNorms-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "TT Norms";
    src: url("/assets/fonts/TTNorms-Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "TT Norms";
    src: url("/assets/fonts/TTNorms-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "TT Norms";
    src: url("/assets/fonts/TTNorms-ExtraBold.woff2") format("woff2");
    font-weight: 800;
    font-style: normal;
}


/* common styles */

* {

padding: 0;

margin: 0;

font-family: var(--font-primary-tt-norms);

/* outline: 1px solid black !important; */

box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #191919ff;
}

h1 {
    font-size: var(--font-size-heading-h1-32);
}

h3 {
    font-size: var(--font-size-heading-h3-18);
    font-weight: 400;
}

/* for aligning items center */
.alnctr-column {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.alnctr-row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

/* common heading style */
.hd-24-28-700 {
    color: var(--color-text-default-black);
    font-family: var(--font-primary-tt-norms), -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: var(--font-size-subheading-24);
    font-weight: 700;
    line-height: 28px;
    letter-spacing: -0.01px;

}

/* subheading text style /size /line height / weight  .ikGhrl */
.sh-18-22-700 {

    color: #191919ff;
    font-family: var(--font-primary-tt-norms), -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: -0.01;
    text-decoration: none;
    text-transform: none;
    display: block;
    margin: 0px;
    padding: 0px;
}

/* description text style /size /line height / weight  .gZAtbl */
.des-14-20-500 {

    color: #191919ff;
    font-family: var(--font-primary-tt-norms), -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.01;
    text-decoration: none;
    text-transform: none;
    display: block;
    margin: 0px;
    padding: 0px;
}

/* tab bar heading style */
.tb-hed-16-22-700 {
    color: var(--color-text-default-black);
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: -0.01;
    text-decoration: none;
    display: block;
}

/* footer heading */
.ft-hd {
    font-weight: 500;
    color: white;
}


/* ----------------------------------1. Header nav------------------------------------------ */

/*section mobile-popup */

/* popup  */
.continue-app {
    display: flex;
    flex-direction: row;
    padding: 8px;
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
    margin-top: 16px;
}

.continue-app .logo-description {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.continue-app .title-description {
    flex-grow: 1;
}

.continue-app .title-description span {
    color: var(--color-text-subtitle-grey);
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
    letter-spacing: -0.01px;

}

.continue-app .title-description h3 {
    color: var(--color-text-default-black);
    font-size: 16px;
    font-weight: 700;
    letter-spacing: -0.01px;
    line-height: 22px;
}

.ratings {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    max-width: 100%;
    padding: 0;
    margin: 0;

}

.stars {
    margin: 0 2px;
    margin-right: 6px;
    padding: 0;
}


/* base design for login open app and open */
.top-btn {
    border-radius: 999px;
    min-height: 32px;
    padding: 0 12px 0 12px;
    align-items: center;
    border: none;
    cursor: pointer;
    width: auto;
    display: inline-block;
    font-size: 16px;
    color: rgb(25, 25, 25);
    font-weight: 700;
    letter-spacing: -0.01px;
    background-color: #ffffffff;
    /* display: block;
    margin: 0;
    padding: 0; */

}

/* open button design */
.open-btn {
    color: white;
    text-align: center;
    background-color: var(--color-button-primary--background-red);
}

.logo {
    border-radius: 12px;
    border: 1px solid #f1f1f1ff;
}

/*  <!-- floating fixed header --> */

.floating-header {
    display: flex;
    flex-direction: row;
    position: absolute;


}




/* <!----------------------------------2. Main banner ----------------------------------> */

.main-banner {
    display: flex;
    position: relative;
    box-sizing: border-box;
    flex-direction: column;
    background-image: url("assets/images/avif/hero_mobile.avif");
    padding: 0px 8px;
    height: 550px;
    background-size: cover;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-position: center center;

}

.main-banner .actions {
    position: absolute;
    left: 0;
    right: 0;
    top: 0px;
    margin-top: 16px;
    display: flex;
    justify-content: flex-end;
    padding-right: 24px;
    padding-left: 16px;
    gap: 8px;

}

.btm {
    /* padding: 12px 12px; */
    height: 40px;
}

.doordash-logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
    margin: 20px 0;
}

.doordash-logo .icon {
    height: 18;
    width: 32;
}

.doordash-logo .title {
    height: 13;
    width: 112;
}




.main-banner .heading {
    margin-bottom: 24px;
    display: flex;
    justify-content: center;
    line-height: 28px;
    letter-spacing: 0px;

}

.main-banner .heading h1 {
    /* font-family: var(--font-primary-tt-norms); */
    font-family: TTNormsProCond-Blk, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 900;
    font-size: 32px;
    color: white;
    text-align: center;
    line-height: 28px;
    letter-spacing: 0px;

}

/* search field contains input search and go button */
.search-field {
    border-radius: 32px;
    min-height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffffff;
    padding: 6px 16px;
}

.search-field .arrow {
    min-height: 40px;
    border-radius: 9999px;
    background-color: var(--color-button-primary--background-red);
    color: var(--color-text-color-white);
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

}

/* svg search and arrow */
.search-field img {
    height: 24px;
    width: 24px;
}

.search-field .search-icon {
    margin-right: 12px;
}

.search-field .input-address {
    border: none;
    outline: none;
    text-overflow: ellipsis;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: -0.01px;
    margin-right: 12px;
}

/* container containing both the buttons */
.login-location-btn {
    display: inline-flex;
    gap: 12px;
    margin-top: 16px;

}

.login-location-btn button {
    padding: 0 12px;
    min-height: 32px;
    border-radius: 9999px;
    flex-grow: 1;
    border: none;
    width: auto;
    cursor: pointer;
    background-color: var(--color-text-color-white);
    color: var(--color-text-default-black);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.login-location-btn button span {
    margin-left: 4px;
    font-size: var(--font-size-paragraph-14);
    font-weight: 700;
    line-height: 20px;
    white-space: nowrap;


}

/* <!---------------------------------- 3. Continue in mobile container / Browse faster in app ----------------------------------> */

/* for bottom banner/popup  */
.mobile-popup-bottom {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: 0 auto;
    background-color: var(--color-background-strong-white);
    flex: 1 0 auto;
    margin: 20px 20px 0;
    border-radius: 12px;
    border: 1px solid var(--color-background-light-white);
    padding: 20px;

}

/* removing the top margin */
.mobile-popup-bottom .continue-app {
    /* margin-top: 0; */
    margin: 0;
    padding: 0;

}

.mobile-popup-bottom .continue-app .logo img {
    height: 40;
    width: 40;
    padding: 10px;
}

.cntnu {
    min-height: 40px;
}

.mobile-popup-bottom .continue-app .title-description h3 {
    font-size: 18px;
}











/* <!---------------------------------- 4. Main navigations ----------------------------------> */

/* main navigation section */
.main-navigations {

    margin: 0 auto;
    max-width: 768px;
}

/* complete section container */
.main-navigations-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 40px 0;
    padding: 8px;
    max-width: 100%;
}

/* main div contining the card */
.main-navigations-container .mn-block {
    display: flex;
    flex-direction: row;
    min-width: 360px;
    width: 100%;
    max-width: 100%;
    padding: 16px 16px;

}

/* logo container */
.mn-logo {
    margin-right: 32px;
}

/* logo styling */
.mn-logo img {
    height: 88px;
    width: 88px;
}

/* contains heading sub and a click */
.details {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 250px;
}

/* heading styles */
.mn-title h1 {
    font-weight: 700;
    line-height: 40px;
    color: var(--color-text-default-black);
}

/* subheading styles */
.mn-subtitile {
    line-height: 24px;
    font-size: 18px;
    font-weight: 500;
    color: var(--color-text-default-black);
    font-family: var(--font-primary-tt-norms);
}

/* button */
.mn-nav {
    margin-top: 12px;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

/* button title */
.mn-nav span {
    color: var(--color-button-primary--background-red);
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    margin-right: 4px;

}



/* <!---------------------------------- 5. Blog posts- Feed 1 / Everything you crave.... ----------------------------------> */

/* blog post session */
.blog-post {
    width: 100%;

}


/* card */
.blog-post .blog-card {
    display: flex;
    flex-direction: column;
    padding: 20px;
    min-width: 90%;
    align-items: center;
    /* justify-content: start;
    text-align: left; */
}

/* img container */
.blog-post picture {
    width: 100%;
}

/* styling the img */
.blog-post picture img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

/* title subtile and button */
.blg-details {
    text-align: left;
    display: flex;
    flex-direction: column;
    /* justify-content: start; */
}

.blg-details h2 {
    max-width: 90%;
    margin-top: 20px;
    color: var(--color-text-default-black);
    font-family: var(--font-primary-tt-norms), -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: var(--font-size-subheading-24);
    font-weight: 700;
    line-height: 28px;
    letter-spacing: -0.01px;

}

/* subheading */
.blg-details span {
    margin-top: 10px;
    color: var(--color-text-default-black);
    font-family: var(--font-primary-tt-norms), -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: var(--font-size-heading-h3-18);
    font-weight: 700;
    line-height: 22px;
    letter-spacing: -0.01px;
}

/* description */
.blg-details p {
    margin-top: 10px;
    color: var(--color-text-default-black);
    font-family: var(--font-primary-tt-norms), -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: var(--font-size-paragraph-14);
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.01px;
}

/* button styling */
.blog-btn {
    margin-top: 20px;
    display: flex;
    min-height: 32px;
    border-radius: 9999px;
    cursor: pointer;
    background-color: var(--color-button-primary--background-red);
    align-items: center;
    justify-content: center;
    text-align: center;
    max-width: 100%;
    padding: 0 12px;
    width: fit-content;
    border: none;
}

/* button text */
.blog-btn h4 {
    margin: 0;
    color: var(--color-text-color-white);
    font-weight: 700;
    line-height: 20px;
    font-size: var(--font-size-paragraph-14);
}



/* <!---------------------------------- 6. Second banner / Get grocery and convenience----------------------------------> */

/* section second banner */
.second-banner {
    width: 100%;
}

/* card */
.get-grocery-banner {
    background-image: url("assets/images/png/grocery_desktop.png");
    height: 350px;
    position: relative;
    background: url("assets/images/png/grocery_desktop.png") center / cover no-repeat;
}

/* image contents */
.get-grocery-banner .contents {
    max-width: 550px;
    display: flex;
    flex-direction: column;
    margin-top: auto;
    margin-bottom: auto;
    background-color: rgba(30, 30, 30, 0.6);
    width: 100%;
    height: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
}

/* main heading */
.contents h2 {
    color: white;
    filter: drop-shadow(rgba(0, 0, 0, 0.2) 0px 2px 8px);
    max-width: 90%;
    margin-top: 20px;
}

.contents h3 {
    color: white;
    filter: drop-shadow(rgba(0, 0, 0, 0.2) 0px 2px 8px);
    margin-top: 10px;
}

.contents span {
    color: white;
    filter: drop-shadow(rgba(0, 0, 0, 0.2) 0px 2px 8px);
    margin-top: 10px;
    text-align: center;
}

/* <!---------------------------------- 7. Blog posts- Feed 2 / Convenience stores at your doorstep ----------------------------------> */


/*<!---------------------------------- 8. Grid Posts / Helping you with to-dos and gifting ----------------------------------> */
/* grid posts section */
.grid-posts {
    background-color: var(--color-background-grid-view-cream);

}

/* grid post heading section */
.grid-posts .gp-hd {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 40px 20px 20px;
}

/* heading style */
.gp-hd h1 {
    max-width: 300px;
    text-align: center;
}

/* scroll continer with multiple cards */
.grid-posts .grid-post-scroll {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
}

.grid-card {
    padding: 20px;
    min-width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 5%;
    margin-right: -10%;

}

.grid-card picture img {
    height: 180px;
    width: 100%;
    object-fit: cover;
    margin-bottom: 4px;
    /* unnecessary padding but real website has this */
}

.grid-card picture {
    width: 100%;
}

.grid-card .grd-details {
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.grd-details h2 {

    max-width: 90%;
    margin-top: 20px;
    color: var(--color-text-default-black);
    font-family: var(--font-primary-tt-norms), -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: var(--font-size-subheading-24);
    font-weight: 700;
    line-height: 28px;
    letter-spacing: -0.01px;


}

.grd-details p {
    margin-top: 10px;
    color: var(--color-text-default-black);
    font-family: var(--font-primary-tt-norms), -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: var(--font-size-paragraph-14);
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.01px;
}

/* .grd-details { 
    text-align: center;
    align-items: center;
} */

/* must be above 18 desidgn */
.grid-posts .grid-post-scroll .grd-details span.must-be {
    text-align: center;
    margin-top: 10px;
    font-size: 12px;
    font-weight: 700;
    line-height: 18px;
    color: #191919ff;
}

/*<!---------------------------------- 9. Blog posts- Feed 3 / Unlocking opportunity for Dashers and businesses----------------------------------> */
/* heading container */
.blog-post .bp-hd {
    padding: 40px 20px 20px;
    width: 100%;
    background-color: var(--color-text-color-white);
    display: flex;
    justify-content: center;
}

/* heading style */
.blog-post .bp-hd h1 {
    text-align: center;
    max-width: 300px;

}

/*<!---------------------------------- 10. Tab bar / Get more from your neighborhood----------------------------------> */
.tab-bar {
    width: 100%;
    max-width: 1130px;
    /*   padding: 48px 0; */
    padding: 24px 16px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;

}

.tab-bar h2 {
    text-align: center;
    margin-bottom: 20px;
    color: var(--color-text-default-black);
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
    display: block;
}

.tabbar-head {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: var(--color-text-color-white);
    padding-bottom: 24px;

}

.tabbar-head a {
    width: 33.33%;
    height: 40px;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-bottom: 3px solid transparent;
    color: #606060ff;
    cursor: pointer;
    transition: 0.2s ease-in;
}

.tabbar-head a:focus,
.tabbar-head a:active,
.tabbar-head a.selected {
    border-bottom: 3px solid var(--color-text-default-black);
    color: var(--color-text-default-black);
}

/* contents style */
.tab-content {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
}

/* content items */
.tab-content a {
    color: var(--color-text-default-black);
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: -0.01;
    text-decoration: none;
    display: block;
}

/* see more button container */
.see-more {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0px;
    cursor: pointer;
}

/* see more text */
.see-more span {
    color: var(--color-text-default-black);
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -0.01;
    margin-right: 8px;
}

/* see more button */
.see-more button {
    border: none;
    min-height: 40px;
    width: 40px;
    height: 40px;
    border-radius: 9999px;
    background-color: #f1f1f1ff;
    color: var(--color-text-default-black);
    box-shadow: inset 0 0 0 1px #f1f1f1ff;
    display: flex;
    align-items: center;
    justify-content: center;
}

#arrow {
    display: inline-block;
    transform: rotateZ(0deg);
    transition: transform 1s ease;
    will-change: transform;

}

#arrow.open {
    transform: rotateZ(180deg);
}

/* see more items list container */
.see-more-top-cities {
    display: flex;
    /* not visible by default */
    flex-direction: column;
    gap: 12px;
    width: 100%;
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: 1s ease-in;
}

/* making see more visible */
.see-more-top-cities.enable {
    max-height: 1000px;
    opacity: 1;
}

/* content see more list  */
.see-more-top-cities a {
    color: var(--color-text-default-black);
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: -0.01;
    text-decoration: none;
    display: block;
}



/*<!---------------------------------- 11. Footer / Popular...---------------------------------->*/
footer {
    width: 100vw;
    background-color: var(--color-text-default-black);
    /* background-color: yellow; */
    display: flex;
    padding: 0 20px;
    flex-direction: column;
    max-width: 1160px;
    margin: auto;
}

/* delete this  */

/* populat categories container with 4 div/categories */
footer .popular-categories {
    text-align: center;
    padding-top: 32px;
    padding-bottom: 32px;
    display: flex;
    flex-direction: column;
}

/* heading style */
.popular-categories h2 {
    margin-bottom: 8px;
}

/* the 4 catergories styling */
.popular-categories>div {
    display: flex;
    flex-direction: column;
    flex: 1 1 0%;
    gap: 12px;
    justify-content: space-between;
}

/* links style */
.popular-categories a {
    color: var(--color-links-footer-grey);
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.01;
}



.popular-categories a:hover {
    color: white;
    text-decoration: underliner;
}

/* download link button */
.appstore-buttons {

    /* background-color: yellow; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 32px;
    gap: 12px;
}

/* each button styling */
.appstore-buttons a {
    background-color: rgb(73, 73, 73);
    border-radius: 8px;
    padding: 2px 8px;
 
}

/* web links section */
.web-links {
    display: flex;
    flex-direction: column;
    gap: 12px;
    text-align: center;

}

.wl-category {
    padding-top: 32px;
    display: flex;
    flex-direction: column;
}

.wl-category a {
    margin-top: 8px;
    cursor: pointer;
    color: rgb(196, 196, 196);
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.01;
}

/* final section terms social and language container */
.terms-social-ln {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 32px 0;
    align-items: center;
    justify-content: space-between;
}

/* social icons */
.terms-social-ln .social-icons {
    display: flex;
    gap: 12px;
}

.language-drop-down {

    padding: 12px;

}

/* language button styling */
.lan-dd-btn {
    background-color: white;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    width: 150px;
    min-height: 32px;
}

.lan-dd-btn .globe-icon {
    margin-right: 8px;
}

.lan-dd-btn img {
    width: 24px;
    height: 24px;
}

.lan-dd-btn span {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.01;
}

/* terms and services */
.terms-service {
    margin-top: 12px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 12px;
}
.terms-service a {
    color: rgb(196, 196, 196);
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
}

/* media querry */
@media screen and(min-width:768px) {}